.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    padding: 30px 20px;
}

/*@media (max-width: 576px) {*/
/*    .main {*/
/*        padding: 30px 10px;*/
/*    }*/
/*}*/

/*@media (max-width: 768px) {*/
/*    .main {*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        gap: 40px;*/
/*    }*/
/*}*/